*.jpg
*.png
*.ttf
*.otf
*.woff
*.eot
*.sfd
*.svg
*.gif
*.docx

public/*.html
/bootstrap/compiled.php
/vendor
/public/super
/public/files
/public/media
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
